<% form_for [@task.location, @task] do |f| %>
	<%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </p>
  <p>
    <%= f.label :location_id %><br />
	<%= f.collection_select(:location_id, current_user.locations.sort_by(&:name), :id, :name) %>
  </p>
  <p>
    <%= f.submit @task.new_record? ? 'Create' : 'Update' %>
  </p>
<% end %>