<h1><%=h @task.name %></h1>

<p>
  <b>Completed:</b>
  <%= @task.completed ? "Yes" : "No" %>
</p>

<p>
  <b>Location:</b>
  <%=h @task.location.name %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>