<% title 'Edit My Profile' %>

<h2><%= yield :title %></h2>

<% form_for resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put } do |f| -%>
  <%= f.error_messages %>

  <p><%= f.label :email, "E-mail address" %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></p>
  <p><%= f.password_field :current_password %></p>

  <p><%= f.label :password, "New Password" %> <i>(leave blank if you don't want to change your current password)</i></p>
  <p><%= f.password_field :password %></p>	

  <p><%= f.submit "Update" %></p>
<% end -%>

<br /><br />
<h3>Cancel my account</h3>

<p>Do you hate me and this infernal application? <%= link_to "Cancel your account", registration_path(resource_name), :confirm => "Are you sure? I'm going to destroy everything you've ever loved (on this site).", :method => :delete %>.</p>

