<h1>Location: <%=h @location.name %></h1>
<%= link_to 'Edit this Location', edit_location_path(@location) %> |
<%= link_to 'Back to all Locations', locations_path %>

<hr />
<h2>Tasks</h2>
<% if @location.tasks.empty? -%>
	<i>No tasks in the queue.</i>
<% else -%>
	<h3>Incomplete Tasks</h3>
		<ul><%= render :partial => @location.tasks.reject(&:completed?).sort_by(&:updated_at) %></ul>
	<h3>Completed Tasks</h3>
		<ul><%= render :partial => @location.tasks.select(&:completed?).sort_by(&:updated_at) %></ul>
<% end -%>

<h3>New Task:</h3>
<% form_for [@location, Task.new] do |f| -%>
	<%= f.text_field :name %>
	<%= f.submit "Add", :method => :create %>
<% end -%>	

