<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield :title %> <%= "#{controller.controller_name}: #{controller.action_name}" %></title>
  <%= stylesheet_link_tag 'nexttimein' %>
</head>
<body>
<div id="noticebar">
	<p style="color: green"><%= notice %></p>	
</div>

<div id="header">
	<h1 id="site-title"><%= link_to "NextTime.in", root_path %></h1>
	<div id="navigation">
		Navigation: 
			<%= link_to "Home", root_path %> &bull; 
			<%= link_to "Locations", locations_path	 %> &bull; 
			<%= link_to "About", :controller => "pages", :action => "show", :permalink => "about" %> &bull; 
			<%= link_to "Contact", :controller => "pages", :action => "show", :permalink => "contact" %>
</div>
	<div id="userpanel">
		<% if user_signed_in? %>
			Hi, <strong><%= current_user.email %></strong>. (<%= link_to "Not you?", destroy_user_session_path %>)
		<% else %>
			Hey there! <%= link_to "Sign-In", new_user_session_path %> or <%= link_to "Sign-up", new_user_registration_path %>
		<% end %>
	</div>
</div>




<div id="content">
<hr />

	<%= yield %>
	
</div>

<hr />
Copyright &copy; <%= Time.now.year.to_s %> Greyworks, LLC. All rights reserved.
</body>
</html>
